$font-size-base: 16px;

$f-primary: 'Roboto Condensed',
sans-serif;

$f-thin: 300;

$f-bold: 700;

$ico-font-family: "ico-market" !default;

$i-pencil: "\e900";
$i-check: "\e901";
$i-copyright: "\e902";
$i-user_double: "\e903";
$i-security: "\e904";
$i-product: "\e905";
$i-arrow_double: "\e906";
$i-star: "\e907";
$i-user: "\e908";
$i-arrow: "\e909";
$i-trash: "\e9ad";